<!DOCTYPE html>
<html lang="en">
<head>
    <title>ISM Admin | Group Performance</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><title>Login</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
    <!--custom css-->
    <link href="../css/ism_style.css" rel="stylesheet">
    <link href="../css/ism_admin_style.css" rel="stylesheet">
    <link href="../css/responsive.css" rel="stylesheet">
    <link href="../css/icon.css" rel="stylesheet">
    <!--scroll-->
    <link href="../css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <!--fonts-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" href="../images/graduate_admin.png" sizes="32x32" />
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar_admin">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../images/site_admin_logo.png"></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="Home.html"><span class="icon icon_menu_home"></span> Home</a></li>
            <li class="dropdown">
            	<a href="Tutorial.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon_menu_assess"></span> Assessment</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Question Bank</a></li>
                    <li><a href="Exam.html">Exams</a></li>
                </ul>
            </li>
            <li class="active"><a href="Group.html"><span class="icon icon_menu_group"></span> Groups</a></li>
            <li><a href="#"><span class="icon icon_menu_organize"></span> Organize</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon_menu_manage"></span> Manage</a>
              <ul class="dropdown-menu">
                <li><a href="#">Book</a></li>
                <li><a href="#">Auther</a></li>
                <li><a href="#">School</a></li>
                <li><a href="#">Classroom</a></li>
                <li><a href="#">Subject</a></li>
                <li><a href="#">Badges</a></li>
                <li><a href="Manage_user.html">User</a></li>
                <li><a href="#">Topics</a></li>
              </ul>
            </li>
            <li><a href="#"><span class="icon icon_menu_report"></span> Reports</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<li><a class="" href="#"><span class="icon icon_search"></span></a></li>
            <li><a class="" href="#"><span class="icon icon_grid"></span></a></li>
            <li><a class="" href="#"><span class="icon icon_list"></span></a></li>
            <li><a class="" href="#"><span class="icon icon_refresh"></span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--body-->
    <div class="container-fluid">
    	<div class="row">
        	<!--side left-->
            <div class=" sidebar_left_container inner_pages inner_pages_admin text-center mCustomScrollbar" data-mcs-theme="minimal"><!-- scrollbar" id="style-3--><!--sidebar_shrink-->
                <div class="user_profile_img">
                    <img src="../images/user1.jpg">
                </div>
                <h4>Adam Ross</h4>
                <a href="#" class="profile_link">View Profile</a>
                <div class="clearfix"></div>
                <!--notification-->
                <ul class="three_tabs">
                	<li class="dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon_bell"></span><span class="badge bell_badge">03</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">
                            	<div class="user_small_img"><img src="../images/user2.jpg"></div>
                                <div class="notification_txt">
                                	<p><span class="noti_username">Adam Stranger</span> tagged you in a post</p>
                                	<span class="noti_time">1 hour ago</span>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                            <li><a href="#">
                            	<div class="user_small_img"><img src="../images/user3.jpg"></div>
                                <div class="notification_txt">
                                	<p><span class="noti_username">Matt Larner</span> sent you studymate request</p>
                                	<span class="noti_time">1 hour ago</span>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                            <li><a href="#">
                            	<div class="user_small_img"><img src="../images/user4.jpg"></div>
                                <div class="notification_txt">
                                	<p><span class="noti_username">Mary Watson</span> tagged you in a post</p>
                                	<span class="noti_time">1 hour ago</span>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                            <li><a href="#">
                            	<div class="user_small_img"><img src="../images/ISM.jpg"></div>
                                <div class="notification_txt">
                                	<p>Please check the published notice</p>
                                	<span class="noti_time">1 hour ago</span>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="icon icon_message"></span><span class="badge message_badge">12</span></a></li>
                    
                </ul>
                <!--//notification-->
				<ul class="personal_menu">
                	<li><a href="#"><span class="icon icon_feed"></span><span>Feeds</span></a></li><!-- class="active"-->
                	<li><a href="#"><span class="icon icon_spam"></span><span>Spam</span><span class="badge message_badge">12</span></a></li>
                	<li><a href="#"><span class="icon icon_banner"></span><span>Banners</span></a></li>                	
                	<li><a href="Notice_board.html"><span class="icon icon_notice"></span><span>Notice Board</span></a></li>
                    <li><a href="#"><span class="icon icon_ques"></span><span>Questionaries</span></a></li>
                    <li><a href="General_credencials.html"><span class="icon icon_credencial"></span><span>General Credencials</span></a></li>
                </ul>
                <a href="Login.html" class="logout"><span class="icon icon_logout"></span><span>LogOut</span></a>
                <p class="copyright">©2015 ISM | All Rights Reserved.</p>
            </div>
            <!--//side left-->
            <!--main-->
            <div class="col-sm-7 main main2 main_wide">
            	<!--breadcrumb-->
           		<div class="row page_header">
                	<div class="col-sm-12">
                    	<ol class="breadcrumb">
                          <li><a href="#">Groups</a></li> 
                          <li class="active">Group Performance</li>
                        </ol>                  
                    </div>
                </div>
                <!--//breadcrumb-->
                <!--banner-->
                <div class="row exam_banner banner_admin">
                 	<div class="col-sm-12 text-center">
                    	<div>
                            <div class="banner_text banner_group_image">
                                <img src="../images/group2.jpg">
                            </div>
                            <div class="banner_group_name">
                                <h2>Group Name: <strong>Vanice Beauty</strong></h2>
                                <p>Computer Science F.Y.</p>
                            </div>
                        </div>
                    </div>
                 </div>
                <!--//banner-->
                <!--main part-->
                <div class="row">
                	<div class="col-sm-4 group_performance_1 general_cred">
                    	<div class="box_header">
                        	<h3>Members</h3>
                        </div>
                        <div class="group_member_wrapper mCustomScrollbar" data-mcs-theme="minimal-dark">
                            <!--member1-->
                            <div class="group_perf_member">                            
                                <div class="username">
                                    <div class="chat_img_holder"><img src="../images/user3.jpg"></div>
                                    <h4 class="txt_blue">Adam Stranger</h4>
                                    <p>St. Xeviers School</p>
                                    <p class="active">Since 3 Years</p>
                                </div>
                                <div class="group_score">
                                    <hr>
                                    <div>
                                        <h2 class="group_total_points txt_red">1000</h2>
                                        <p>Score</p>
                                    </div>
                                    <div>
                                        <h2 class="group_rank txt_green">04</h2>
                                        <p>Exams</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--//member1-->
                            <!--member2-->
                            <div class="group_perf_member">                            
                                <div class="username">
                                    <div class="chat_img_holder"><img src="../images/user4.jpg"></div>
                                    <h4 class="txt_blue">John Smith</h4>
                                    <p>St. Xeviers School</p>
                                    <p class="active">Since 3 Years</p>
                                </div>
                                <div class="group_score">
                                    <hr>
                                    <div>
                                        <h2 class="group_total_points txt_red">980</h2>
                                        <p>Score</p>
                                    </div>
                                    <div>
                                        <h2 class="group_rank txt_green">04</h2>
                                        <p>Exams</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--//member2-->
                            <!--member3-->
                            <div class="group_perf_member">                            
                                <div class="username">
                                    <div class="chat_img_holder"><img src="../images/user5.jpg"></div>
                                    <h4 class="txt_blue">Dean Winchester</h4>
                                    <p>St. Xeviers School</p>
                                    <p class="active">Since 3 Years</p>
                                </div>
                                <div class="group_score">
                                    <hr>
                                    <div>
                                        <h2 class="group_total_points txt_red">788</h2>
                                        <p>Score</p>
                                    </div>
                                    <div>
                                        <h2 class="group_rank txt_green">03</h2>
                                        <p>Exams</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--//member3-->
                            <!--member4-->
                            <div class="group_perf_member">                            
                                <div class="username">
                                    <div class="chat_img_holder"><img src="../images/user1.jpg"></div>
                                    <h4 class="txt_blue">Adam Rose</h4>
                                    <p>St. Xeviers School</p>
                                    <p class="active">Since 3 Years</p>
                                </div>
                                <div class="group_score">
                                    <hr>
                                    <div>
                                        <h2 class="group_total_points txt_red">788</h2>
                                        <p>Score</p>
                                    </div>
                                    <div>
                                        <h2 class="group_rank txt_green">03</h2>
                                        <p>Exams</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--//member4-->
                            <!--member5-->
                            <div class="group_perf_member">                            
                                <div class="username">
                                    <div class="chat_img_holder"><img src="../images/user2.jpg"></div>
                                    <h4 class="txt_blue">Emma Gray</h4>
                                    <p>St. Xeviers School</p>
                                    <p class="active">Since 3 Years</p>
                                </div>
                                <div class="group_score">
                                    <hr>
                                    <div>
                                        <h2 class="group_total_points txt_red">788</h2>
                                        <p>Score</p>
                                    </div>
                                    <div>
                                        <h2 class="group_rank txt_green">03</h2>
                                        <p>Exams</p>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--//member5-->
                        </div>
                    </div>
                    <div class="col-sm-4 group_performance_2 general_cred">
						<div class="box_header">
                        	<h3>Topics Allocated</h3>
                        </div>
                        <div class="allocate_topic_wrapper mCustomScrollbar" data-mcs-theme="minimal-dark">
                            <!--month1-->
                            <div class="allocated_topics month_wise">
                                <div class="month_name"><span>August</span></div>
                                <!--card1-->
                                <div class="exams_holder">
                                    <div class="exam_year">
                                        <p>Inertia</p>
                                    </div>
                                    <div class="type_holder">
                                        <div class="exam_type"><p>Discussion</p><p>29 Comments</p></div>
                                        <div class="exam_cat"><p>Examination - Quiz</p><p>500 Score</p></div>
                                        <div class="clearfix"></div>
                                    </div>                                
                                </div>
                                <!--//card1-->
                                <!--card1-->
                                <div class="exams_holder">
                                    <div class="exam_year">
                                        <p>Momentum</p>
                                    </div>
                                    <div class="type_holder">
                                        <div class="exam_type"><p>Discussion</p><p>59 Comments</p></div>
                                        <div class="exam_cat"><p>Examination - Quiz</p><p>750 Score</p></div>
                                        <div class="clearfix"></div>
                                    </div>                                
                                </div>
                                <!--//card1-->
                                <!--card1-->
                                <div class="exams_holder">
                                    <div class="exam_year">
                                        <p>Osumosis</p>
                                    </div>
                                    <div class="type_holder">
                                        <div class="exam_type"><p>Discussion</p><p>15 Comments</p></div>
                                        <div class="exam_cat"><p>Examination - Quiz</p><p>500 Score</p></div>
                                        <div class="clearfix"></div>
                                    </div>                                
                                </div>
                                <!--//card1-->
                            </div>
                            <!--//month1-->
                            <!--month2-->
                            <div class="allocated_topics month_wise">
                                <div class="month_name"><span>September</span></div>
                                <!--card1-->
                                <div class="exams_holder">
                                    <div class="exam_year">
                                        <p>Organic Chemistry</p>
                                    </div>
                                    <div class="type_holder">
                                        <div class="exam_type"><p>Discussion</p><p>29 Comments</p></div>
                                        <div class="exam_cat"><p>Examination - Quiz</p><p>500 Score</p></div>
                                        <div class="clearfix"></div>
                                    </div>                                
                                </div>
                                <!--//card1-->
                                <!--card1-->
                                <div class="exams_holder">
                                    <div class="exam_year">
                                        <p>Osctillation & Waves</p>
                                    </div>
                                    <div class="type_holder">
                                        <div class="exam_type"><p>Discussion</p><p>35 Comments</p></div>
                                        <div class="exam_cat"><p>Examination - Quiz</p><p>490 Score</p></div>
                                        <div class="clearfix"></div>
                                    </div>                                
                                </div>
                                <!--//card1-->
                            </div>
                            <!--//month2-->
                        </div>
                    </div>
                    <div class="col-sm-4 group_performance_3 general_cred">
                    	<div class="box_header">
                        	<h3>Performance</h3>
                        </div>
                        <!--div-->
                        <div class="performance_div mCustomScrollbar" data-mcs-theme="minimal-dark">
                            <div class="performance_wrapper">
                                <div id="performance_graph">
                                </div>
                            </div>
                            <div class="box_header">
                                <h3>Teachers Allocated</h3>
                            </div>
                            <div class="allocated_teachers">
                                <!--teacher1-->
                                <div class="stm_item">
                                    <a href="#">
                                        <div class="stm_user_img">
                                            <img src="../images/user7.jpg">
                                        </div>
                                        <p class="teacher_name">Mary Watson</p>
                                        <p>Works at LNHS</p>
                                        <p>Assigned 3 Exams</p>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                                <!--//teacher1-->
                                <!--teacher1-->
                                <div class="stm_item">
                                    <a href="#">
                                        <div class="stm_user_img">
                                            <img src="../images/user6.jpg">
                                        </div>
                                        <p class="teacher_name">Mary Watson</p>
                                        <p>Works at LNHS</p>
                                        <p>Assigned 3 Exams</p>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                                <!--//teacher1-->
                                <!--teacher1-->
                                <div class="stm_item">
                                    <a href="#">
                                        <div class="stm_user_img">
                                            <img src="../images/user5.jpg">
                                        </div>
                                        <p class="teacher_name">Mary Watson</p>
                                        <p>Works at LNHS</p>
                                        <p>Assigned 3 Exams</p>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                                <!--//teacher1-->
                                <!--teacher1-->
                                <div class="stm_item">
                                    <a href="#">
                                        <div class="stm_user_img">
                                            <img src="../images/user4.jpg">
                                        </div>
                                        <p class="teacher_name">Mary Watson</p>
                                        <p>Works at LNHS</p>
                                        <p>Assigned 3 Exams</p>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                                <!--//teacher1-->
                                <!--teacher1-->
                                <div class="stm_item">
                                    <a href="#">
                                        <div class="stm_user_img">
                                            <img src="../images/user3.jpg">
                                        </div>
                                        <p class="teacher_name">Mary Watson</p>
                                        <p>Works at LNHS</p>
                                        <p>Assigned 3 Exams</p>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                                <!--//teacher1-->
                                <!--teacher1-->
                                <div class="stm_item">
                                    <a href="#">
                                        <div class="stm_user_img">
                                            <img src="../images/user2.jpg">
                                        </div>
                                        <p class="teacher_name">Mary Watson</p>
                                        <p>Works at LNHS</p>
                                        <p>Assigned 3 Exams</p>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                                <!--//teacher1-->
                                <!--teacher1-->
                                <div class="stm_item">
                                    <a href="#">
                                        <div class="stm_user_img">
                                            <img src="../images/user1.jpg">
                                        </div>
                                        <p class="teacher_name">Mary Watson</p>
                                        <p>Works at LNHS</p>
                                        <p>Assigned 3 Exams</p>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                                <!--//teacher1-->
                            </div>
                        </div>
                        <!--//div-->
                    </div>
                </div>
                <!--//main part-->
			</div>
            <!--//main-->
        </div>
    </div>
    <!--//body-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script> 
    <!--scroll-->
    <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
	<!--gharph-->
    <script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="http://code.highcharts.com/modules/drilldown.js"></script>
    <script type="text/javascript">
		$(function () {
			// Create the chart
			$('#performance_graph').highcharts({
				chart: {
					type: 'column'
				},
				title: {
					text: ''
				},
				subtitle: {
					text: 'Score -> Subject'
				},
				xAxis: {
					type: 'category'
				},
				yAxis: {
					title: {
						text: 'Score'
					}
		
				},
				legend: {
					enabled: false
				},
				plotOptions: {
					series: {
						borderWidth: 0,
						dataLabels: {
							enabled: true,
							format: '{point.y:.1f}%'
						}
					}
				},
		
				tooltip: {
					headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
					pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b><br/>'
				},
		
				series: [{
					name: "Subject",
					colorByPoint: true,
					data: [{
						name: "Mathematics",
						y: 90,
						drilldown: "Mathematics"
					}, {
						name: "Physics",
						y: 82,
						drilldown: "Physics"
					}, {
						name: "Chemistry",
						y: 55,
						drilldown: "Chemistry"
					}, {
						name: "Biology",
						y: 75,
						drilldown: "Biology"
					}, {
						name: "English",
						y: 88,
						drilldown: "English"
					}, {
						name: "Literature",
						y: 79,
						drilldown: "Literature"
					}]
				}],
				drilldown: {
					series: [{
						name: "Mathematics",
						id: "Mathematics",
						data: [
							[
								"v11.0",
								90
							],
							[
								"v8.0",
								90
							],
							[
								"v9.0",
								90
							],
							[
								"v10.0",
								5.33
							],
							[
								"v6.0",
								1.06
							],
							[
								"v7.0",
								0.5
							]
						]
					}, {
						name: "Physics",
						id: "Physics",
						data: [
							[
								"v40.0",
								5
							],
							[
								"v41.0",
								4.32
							],
							[
								"v42.0",
								3.68
							],
							[
								"v39.0",
								2.96
							],
							[
								"v36.0",
								2.53
							],
							[
								"v43.0",
								1.45
							],
							[
								"v31.0",
								1.24
							],
							[
								"v35.0",
								0.85
							],
							[
								"v38.0",
								0.6
							],
							[
								"v32.0",
								0.55
							],
							[
								"v37.0",
								0.38
							],
							[
								"v33.0",
								0.19
							],
							[
								"v34.0",
								0.14
							],
							[
								"v30.0",
								0.14
							]
						]
					}, {
						name: "Chemistry",
						id: "Chemistry",
						data: [
							[
								"v35",
								2.76
							],
							[
								"v36",
								2.32
							],
							[
								"v37",
								2.31
							],
							[
								"v34",
								1.27
							],
							[
								"v38",
								1.02
							],
							[
								"v31",
								0.33
							],
							[
								"v33",
								0.22
							],
							[
								"v32",
								0.15
							]
						]
					}, {
						name: "English",
						id: "English",
						data: [
							[
								"v8.0",
								2.56
							],
							[
								"v7.1",
								0.77
							],
							[
								"v5.1",
								0.42
							],
							[
								"v5.0",
								0.3
							],
							[
								"v6.1",
								0.29
							],
							[
								"v7.0",
								0.26
							],
							[
								"v6.2",
								0.17
							]
						]
					}, {
						name: "Literature",
						id: "Literature",
						data: [
							[
								"v12.x",
								0.34
							],
							[
								"v28",
								0.24
							],
							[
								"v27",
								0.17
							],
							[
								"v29",
								0.16
							]
						]
					}]
				}
			});
		});
    </script>
    
</body>
</html>
