<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ISM | About Us</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"><title>Login</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!--custom css-->
        <link href="css/ism_style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <link href="css/icon.css" rel="stylesheet">
        <!--scroll-->
        <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet">
        <!--fonts-->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arvo:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="icon" type="image/png" href="images/graduate.png" sizes="32x32" />
    </head>
    
 	<body>
    	<div class="container-fluid">
            <!--row1-->
            <div class="row reg_header">
                <div class="col-sm-12">
                    <img src="images/site_logo.png">
                </div>
            </div>
            <!--row2-->
            <div class="row about_us_header">
            	<div class="container">
                	<div class="row">
                    	<div class="col-sm-12 text-center">
                        	<h1 class="txt_white"><strong>You Are Awesome</strong></h1>
                            <p class="txt_grey">Thank you for accepting Invitation.</p>
                            <p class="txt_grey">You are in Waiting List.</p>
                           	<button class="btn btn_about_header">Click and provide Details to Contact you</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--row3-->
            <div class="row my_info arrow">
            	<div class="container">
                	<div class="row">
                        <div class="col-sm-12">
                            <h1 class="text-center txt_green"><strong>My Information</strong></h1>
                            <form>
                                
                            <div class="form-group col-sm-12 col-md-6 col-lg-8 padding_r15_">
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="First Name">
                            </div>                     
                            <div class="form-group col-sm-12 col-md-6 col-lg-4 select no-padding">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4 select padding_r15_">
                                <label>Email Id</label>
                                <input type="text" class="form-control" placeholder="Email Id">
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-4 select padding_r15_">
                                <label>Contact Number</label>
                                <input type="text" class="form-control" placeholder="Contact Number">
                            </div>   
                            <div class="form-group col-sm-12 col-md-6 col-lg-4 no-padding">
                                <label>Course</label>
                                <input type="text" class="form-control" placeholder="Course">
                            </div> 
                            <div class="form-group col-sm-12 col-md-6 col-lg-3 select padding_r15_">
                                <label>City</label>
                                <select class="form-control">
                                    <option>Academic Year</option>
                                    <option>2015</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-12 col-md-6 col-lg-3 select padding_r15_">
                                <label>District</label>
                                <select class="form-control">
                                    <option>Exam Type</option>
                                    <option>Subject</option>
                                    <option>Topic</option>
                                </select>
                            </div>                    
                            <div class="form-group col-sm-12 col-md-6 col-lg-3 select padding_r15_">
                                <label>State</label>
                                <select class="form-control">
                                    <option>Exam Duration (MIN)</option>
                                    <option>30 min</option>
                                    <option>1 Hour</option>
                                </select>
                            </div>  
                            <div class="form-group col-sm-12 col-md-6 col-lg-3 select no-padding">
                                <label>Country</label>
                                <select class="form-control">
                                    <option>Attemp Count</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>  
                            <div class="form-group col-sm-12 no-padding">
                                <label>Message (Optional)</label>
                                <textarea class="form-control"></textarea>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-12 text-center">
                                <button class="btn btn_green">Save</button>
                                <button class="btn btn_black_normal">Cancle</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--row 4-->
            <div class="row our_mission">
            	<div class="container">
                	<div class="row">
                    	<div class="col-sm-12 text-center">
                        	<h2><strong>Our Mission</strong></h2>
                            <h1 class="txt_white"><strong>To Help Students Learn , collaborate And Share Ideas</strong></h1>
                            <p>We want  education in Our Country to be best in the world. we are constantly working to bring student teacher and author to interact with each other on the same platform.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--row 5-->
            <div class="row road_map">
            	<div class="container">
                	<div class="row">
                    	<div class="col-sm-12">
                        	<h1 class="text-center"><strong>ISM Roadmap</strong></h1>
                        </div>
                        <div class="col-sm-6 item_left">
                        	<!--item red-->
                        	<div class="map_item item_red row">
                            	<div class="col-sm-12 abt_img no-padding">
                                	<img src="images/about_1.png">
                                </div>
                                <div class="col-sm-12 no-padding">
                                	<div class="icon_holder">
                                    	<div class="img_stud"></div>
                                    </div>
                                    <h3>ISM for Students</h3>
                                    <p>Student can join ISM and work in groups with other students and make their learning more interactive.</p>
                                </div>
                            </div>
                            <!--//item red-->
                            <!--item green-->
                        	<div class="map_item item_green row">
                            	<div class="col-sm-12 abt_img no-padding">
                                	<img src="images/about_2.png">
                                </div>
                                <div class="col-sm-12 no-padding">
                                	<div class="icon_holder">
                                    	<div class="img_win"></div>
                                    </div>
                                    <h3>ISM Unit</h3>
                                    <p>ISM unit constantly works to monitor the system for quality education and to increase collaborate.</p>
                                </div>
                            </div>
                            <!--//item green-->
                        </div>
                        <div class="col-sm-6 item_right">
                        	<!--item blue-->
                        	<div class="map_item item_blue row">
                            	<div class="col-sm-12 abt_img no-padding">
                                	<img src="images/about_2.png">
                                </div>
                                <div class="col-sm-12 no-padding">
                                	<div class="icon_holder">
                                    	<div class="img_teach"></div>
                                    </div>
                                    <h3>Ism for Teacher</h3>
                                    <p>Teacher can share assignment, take exam, evaluate students prefomance & can stay connected with students.</p>
                                </div>
                            </div>
                            <!--//item red-->
                            <!--item purple-->
                        	<div class="map_item item_purple row">
                            	<div class="col-sm-12 abt_img no-padding">
                                	<img src="images/about_4.png">
                                </div>
                                <div class="col-sm-12 no-padding">
                                	<div class="icon_holder">
                                    	<div class="img_books"></div>
                                    </div>
                                    <h3>Ism for Author</h3>
                                    <p>We bring all author on our platform. So students can learn from author, whose books they read. Author will also get feedback about their books.</p>
                                </div>
                            </div>
                            <!--//item purple-->
                        </div>
                    </div>
                </div>
            </div>
            
            <!--footer-->
            <footer class="row reg_footer margin_t15">
                <div class="col-sm-6">
                    <p>©2015 ISM. All Rights Reserved.</p>
                </div>
                <div class="col-sm-6 text-right">
                	<span>Connect with us : </span>
                	<a href="#"><img src="images/fb.png"></a>
                    <a href="#"><img src="images/twit.png"></a>
                </div>
            </footer>
            <!--//f0oter-->
 		</div>
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript">	
			$(document).ready(function(){
				$('.btn_about_header').click(function(){
					$('.my_info').slideToggle();
					
				});
			});
		</script>
    </body>
</html>
