<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ISM | Contact Us</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"><title>Login</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!--custom css-->
        <link href="css/ism_style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <link href="css/icon.css" rel="stylesheet">
        <!--scroll-->
        <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet">
        <!--fonts-->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arvo:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <link rel="icon" type="image/png" href="images/graduate.png" sizes="32x32" />
    </head>
    
 	<body>
    	<div class="container-fluid">
            <!--row1-->
            <div class="row reg_header">
                <div class="col-sm-12">
                    <img src="images/site_logo.png">
                </div>
            </div>
            <!--row2-->
            <div class="row about_us_header">
            	<div class="container">
                	<div class="row">
                    	<div class="col-sm-12 text-center">
                        	<h1 class="txt_white"><strong>Welcome to ISM!</strong></h1>
                            <p class="txt_grey">We're here for you with digital education. This is to make learning an amazing experience. We have all the features, that can make best use of technology to standardize education.If you wish to be part of this system, then tell us more about you. We will approach you.</p>
                           	<button class="btn btn_about_header">Contact Us to Tell Us More</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--row3-->
            <div class="row my_info arrow">
            	<div class="container">
                	<div class="row">
                        <div class="col-sm-12">
                            <h1 class="text-center txt_green"><strong>Contact Information</strong></h1>
                            <div class="row">
                            	<div class="col-sm-6 col-md-offset-1 col-md-5 profile">
                                	<div class="user_profile_img">
                                       <img src="images/user7.jpg">                                                              
                                    </div>
                                   	<h3 class="text-uppercase">ISM Admin</h3>
                                    <p><strong>Adam Stranger</strong></p>
                                    <p><span class="fa fa-phone"></span> 09876543210</p>
                                    <p><span class="fa fa-envelope"></span> adamstrang@ism.com</p>
                                </div>
                                <div class="col-sm-6 col-md-5 profile">
                                	<div class="user_profile_img">
                                       <img src="images/user6.jpg">                                                              
                                    </div>
                                   	<h3 class="text-uppercase">Course Coordinater</h3>
                                    <p><strong>David Cassow</strong></p>
                                    <p><span class="fa fa-phone"></span> 09876543210</p>
                                    <p><span class="fa fa-envelope"></span> davidcs123@ism.com</p>
                                </div>
                                <div class="col-sm-6 col-md-offset-1 col-md-5 profile">
                                	<div class="user_profile_img">
                                       <img src="images/user5.jpg">                                                              
                                    </div>
                                   	<h3 class="text-uppercase">Volunteer</h3>
                                    <p><strong>Adam Stranger</strong></p>
                                    <p><span class="fa fa-phone"></span> 09876543210</p>
                                    <p><span class="fa fa-envelope"></span> adamstrang@ism.com</p>
                                </div>
                                <div class="col-sm-6 col-md-5 profile">
                                	<div class="user_profile_img">
                                       <img src="images/user4.jpg">                                                              
                                    </div>
                                   	<h3 class="text-uppercase">Volunteer</h3>
                                    <p><strong>David Cassow</strong></p>
                                    <p><span class="fa fa-phone"></span> 09876543210</p>
                                    <p><span class="fa fa-envelope"></span> davidcs123@ism.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--row 4-->
            <div class="row our_mission">
            	<div class="container">
                	<div class="row">
                    	<div class="col-sm-12 text-center">
                        	<h2><strong>Our Mission</strong></h2>
                            <h1 class="txt_white"><strong>To Help Students Learn , collaborate And Share Ideas</strong></h1>
                            <p>We want  education in Our Country to be best in the world. we are constantly working to bring student teacher and author to interact with each other on the same platform.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--row 5-->
            <div class="row road_map">
            	<div class="container">
                	<div class="row">
                    	<div class="col-sm-12">
                        	<h1 class="text-center"><strong>ISM Roadmap</strong></h1>
                        </div>
                        <div class="col-sm-6 item_left">
                        	<!--item red-->
                        	<div class="map_item item_red row">
                            	<div class="col-sm-12 abt_img no-padding">
                                	<img src="images/about_1.png">
                                </div>
                                <div class="col-sm-12 no-padding">
                                	<div class="icon_holder">
                                    	<div class="img_stud"></div>
                                    </div>
                                    <h3>ISM for Students</h3>
                                    <p>Student can join ISM and work in groups with other students and make their learning more interactive.</p>
                                </div>
                            </div>
                            <!--//item red-->
                            <!--item green-->
                        	<div class="map_item item_green row">
                            	<div class="col-sm-12 abt_img no-padding">
                                	<img src="images/about_2.png">
                                </div>
                                <div class="col-sm-12 no-padding">
                                	<div class="icon_holder">
                                    	<div class="img_win"></div>
                                    </div>
                                    <h3>ISM Unit</h3>
                                    <p>ISM unit constantly works to monitor the system for quality education and to increase collaborate.</p>
                                </div>
                            </div>
                            <!--//item green-->
                        </div>
                        <div class="col-sm-6 item_right">
                        	<!--item blue-->
                        	<div class="map_item item_blue row">
                            	<div class="col-sm-12 abt_img no-padding">
                                	<img src="images/about_2.png">
                                </div>
                                <div class="col-sm-12 no-padding">
                                	<div class="icon_holder">
                                    	<div class="img_teach"></div>
                                    </div>
                                    <h3>Ism for Teacher</h3>
                                    <p>Teacher can share assignment, take exam, evaluate students prefomance & can stay connected with students.</p>
                                </div>
                            </div>
                            <!--//item red-->
                            <!--item purple-->
                        	<div class="map_item item_purple row">
                            	<div class="col-sm-12 abt_img no-padding">
                                	<img src="images/about_4.png">
                                </div>
                                <div class="col-sm-12 no-padding">
                                	<div class="icon_holder">
                                    	<div class="img_books"></div>
                                    </div>
                                    <h3>Ism for Author</h3>
                                    <p>We bring all author on our platform. So students can learn from author, whose books they read. Author will also get feedback about their books.</p>
                                </div>
                            </div>
                            <!--//item purple-->
                        </div>
                    </div>
                </div>
            </div>
            
            <!--footer-->
            <footer class="row reg_footer margin_t15">
                <div class="col-sm-6">
                    <p>©2015 ISM. All Rights Reserved.</p>
                </div>
                <div class="col-sm-6 text-right">
                	<span>Connect with us : </span>
                	<a href="#"><img src="images/fb.png"></a>
                    <a href="#"><img src="images/twit.png"></a>
                </div>
            </footer>
            <!--//f0oter-->
 		</div>
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script type="text/javascript">	
			$(document).ready(function(){
				$('.btn_about_header').click(function(){
					$('.my_info').slideToggle();
					
				});
			});
		</script>
    </body>
</html>
