<!DOCTYPE html>
<html lang="en">
<head>
    <title>ISM | Test</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><title>Login</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <!--custom css-->
    <link href="css/ism_style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/icon.css" rel="stylesheet">
    <!--scroll-->
    <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <!--fonts-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" href="images/graduate.png" sizes="32x32" />
</head>
<body>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/site_logo.png"></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="Home.html"><span class="icon icon_menu_home"></span> Home</a></li>
            <li><a href="Tutorial.html"><span class="icon icon_menu_tut"></span> Tutorial</a></li>
            <li><a href="#"><span class="icon icon_menu_class"></span> Classroom</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon_menu_assess"></span> Assessment</a>
              <ul class="dropdown-menu">
                <li><a href="#">My Assessment</a></li>
                <li><a href="#">My Scoreboard</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-right">
          	<li><a class="" href="#"><span class="icon icon_search"></span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--body-->
    <div class="container-fluid">
    	<div class="row">
        	
            <!--main-->
            <div class="col-sm-7 main main_wide_2">
            	<!--breadcrumb-->
                <div class="row page_header">
                	<div class="col-sm-12">
                    	<fieldset>
                          <legend>ISM Mock Test</legend>                          
                          <h4 class="txt_green">Organic Chemistry Test - 133</h4>
                        </fieldset>
                    </div>
                </div>
                <!--//breadcrumb-->
                <!--question-->
                <div class="row">
                	<div class="col-sm-12">
                    	<div class="box question_box">
                        	<div class="box_header">
                            	<p>Question Number : <strong>9</strong></p>
                                <p>Question Number : <strong>1:20</strong></p>
                                <div class="clearfix"></div>
                            </div>
                            <!--box_body-->
                            <div class="box_body">
                                <div class="question text-center">
                                    <p>When parallel elements meet, which reaction occurs?</p>
                                </div>
                                <div class="ans_option_div">
                                	<p><strong>Options :</strong></p>
                                    <div class="ans_options">
                                    	<label><input type="radio" name="option">The Smallest resistance</label>
                                        <label><input type="radio" name="option">The Largest resistance</label>
                                        <label><input type="radio" name="option">They have same power</label>
                                        <label><input type="radio" name="option">Tindel effect</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <!--box_body-->
                            <div class="box_footer">
                            	<button class="btn btn_green">Review Later</button>
                                <button class="btn btn_green">Clear Responce</button>
                                <button class="btn btn_green">Save and Next<span class="fa fa-chevron-right"></span></button>
                            </div>
                        </div>                        
                    </div>
                </div>
                <!--//question-->
			</div>
            <!--//main-->
            <!--side right-->
            <div class="sidebar_right_container test_sidebar mCustomScrollbar" data-mcs-theme="minimal-dark"><!--scrollbar" id="style-3-->
            	<div class="sidebar_profile">
                	<div class="user_profile_img">
                        <img src="images/user1.jpg">                        
                    </div>
                    <h4>Adam Ross</h4>
	                <a href="#">View Profile</a>
                    <div class="clearfix"></div>
                </div>
                <!--test counting-->
                <div class="test_counting text-center">
                	<!--test-finished-->
                	<div class="test_finished">
                    	<h5>Test Finished</h5>
                        <div class="item_chart css">
                            <h2 class="txt_green">75%</h2>
                            <svg width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                             <g>
                              <title>Layer 1</title>
                              <circle id="circle" r="60" cy="70" cx="70" stroke-width="15" stroke="#333" fill="none"/>
                              <circle id="circle" class="circle_animation" r="60" cy="70" cx="70" stroke-width="15" stroke="#1bc4a3" fill="none"/>
                             </g>
                            </svg>
                        </div>
                    </div>
                    <!--time-remainig-->
                    <div class="time_remaining">
                    	<h5>Time Remaining</h5>
                        <!--wrapper-->
                        <div class="clock_wrapper">
                        	<div class="clock">
                            	<div class="clock_block">
	                                <h1>09</h1>
                                </div>
                                <p>Min</p>
                            </div>
                            <div class="colon">:</div>
                            <div class="clock">
                            	<div class="clock_block">
	                                <h1>15</h1>
                                </div>
                                <p>Sec</p>
                            </div>
                        </div>
                        <!--//wrapper-->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--//test couonting-->
            </div>
            <!--//side right-->
		</div>
    </div>
    <!--//body-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script> 
    <!--scroll-->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>

</body>
</html>
