<!DOCTYPE html>
<html lang="en">
<head>
    <title>ISM | Tutorial</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><title>Login</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <!--custom css-->
    <link href="css/ism_style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/icon.css" rel="stylesheet">
    <!--scroll-->
    <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <!--fonts-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" href="images/graduate.png" sizes="32x32" />
    <!--<script>
		(function($){
			$(window).load(function(){
				$(".sidebar_right_container").mCustomScrollbar();
			});
		})(jQuery);
	</script>-->
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/site_logo.png"></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="Home.html"><span class="icon icon_menu_home"></span> Home</a></li>
            <li class="active"><a href="Tutorial.html"><span class="icon icon_menu_tut"></span> Tutorial</a></li>
            <li><a href="#"><span class="icon icon_menu_class"></span> Classroom</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon_menu_assess"></span> Assessment</a>
              <ul class="dropdown-menu">
                <li><a href="#">My Assessment</a></li>
                <li><a href="#">My Scoreboard</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-right">
          	<li><a class="" href="#"><span class="icon icon_search"></span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <!--body-->
    <div class="container-fluid">
    	<div class="row">
        	<!--side left-->
            <div class="sidebar_left_container inner_pages text-center mCustomScrollbar" data-mcs-theme="minimal"><!-- scrollbar" id="style-3-->
                <div class="user_profile_img">
                    <img src="images/user1.jpg">
                </div>
                <h4>Adam Ross</h4>
                <a href="#">View Profile</a>
                <div class="clearfix"></div>
                <!--notification-->
                <ul class="three_tabs">
                	<li class="dropdown">
                    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon icon_bell"></span><span class="badge bell_badge">03</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">
                            	<div class="user_small_img"><img src="images/user2.jpg"></div>
                                <div class="notification_txt">
                                	<p><span class="noti_username">Adam Stranger</span> tagged you in a post</p>
                                	<span class="noti_time">1 hour ago</span>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                            <li><a href="#">
                            	<div class="user_small_img"><img src="images/user3.jpg"></div>
                                <div class="notification_txt">
                                	<p><span class="noti_username">Matt Larner</span> sent you studymate request</p>
                                	<span class="noti_time">1 hour ago</span>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                            <li><a href="#">
                            	<div class="user_small_img"><img src="images/user4.jpg"></div>
                                <div class="notification_txt">
                                	<p><span class="noti_username">Mary Watson</span> tagged you in a post</p>
                                	<span class="noti_time">1 hour ago</span>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                            <li><a href="#">
                            	<div class="user_small_img"><img src="images/ISM.jpg"></div>
                                <div class="notification_txt">
                                	<p>Please check the published notice</p>
                                	<span class="noti_time">1 hour ago</span>
                                </div>
                                <div class="clearfix"></div>
                            </a></li>
                        </ul>
                    </li>
                    <li><a href="#"><span class="icon icon_message"></span><span class="badge message_badge">12</span></a></li>
                    <li><a href="#"><span class="icon icon_request"></span><span class="badge request_badge">07</span></a></li>
                </ul>
                <!--//notification-->
				<!--<ul class="personal_menu">
                	<li><a href="My_feeds.html">My Feeds</a></li>
                	<li><a href="My_exam.html">My Exams</a></li>
                	<li><a href="#">Studymates</a></li>
                	<li><a href="#">My Activities</a></li>
                	<li><a href="#">Notice Board</a></li>
                </ul>-->
                <div class="tut_week">
                    <div class="tut_week_heading">
                        <p>Week 1</p>                   
                    </div>
                    <ul class="tut_weekdays">
                        <li><a href="#">Monday</a></li>
                        <li><a href="#">Tuesday</a></li>
                        <li><a href="#">Wednesday</a></li>
                        <li><a href="#" class="active">Thursday</a></li>
                        <li><a href="#">Friday</a></li>
                        <li><a href="#">Saturday</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <a href="Login.html" class="logout"><span class="icon icon_logout"></span>LogOut</a>
                <p class="copyright">©2015 ISM | All Rights Reserved.</p>
            </div>
            <!--//side left-->
            <!--main-->
            <div class="col-sm-7 main main_tut">
            	<div class="row discussion_header">
                	<div class="col-sm-12">
                        <h3><span>Topic - </span>Osmosis</h3>
                        <a href="#" class="icon icon_expand"></a>
                    </div>
                </div>
                <div class="row top_question">
                	<div class="col-sm-12">
                    	<div class="mate_user_img">
                        	<img src="images/user1.jpg">
                        </div>
                        <div class="admin_question">
                        	<h4>Admin<span>Sep 1, 2015 3:30 pm</span></h4>
                        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio, placeat, quia quo reprehenderit sunt velit?</p>
                        </div>
                    </div>
                </div>
                <div class="row discussion">
                	<!--comm1-->
                    <div class="col-sm-12">
                    	<div class="mate_user_img">
                        	<img src="images/user2.jpg">
                        </div>
                        <div class="admin_question">
                        	<h4>Emma Gray<span>Sep 1, 2015 4:30 pm</span></h4>
                        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio.</p>
                        </div>
                    </div>
                    <!--//comm1-->
                    <!--comm2-->
                    <!--<div class="col-sm-12">
                    	<div class="mate_user_img">
                        	<img src="images/user3.jpg">
                        </div>
                        <div class="admin_question">
                        	<h4>Adam Stranger<span>Sep 1, 2015 5:30 pm</span></h4>
                        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                        </div>
                    </div>-->
                    <!--//comm2-->
                    <!--division-->
                    <div class="divide_discussion col-sm-12">                    
                    	<div class="clearfix"></div>                    
                    	<hr><h4>Wednesday</h4>
                    </div>
                    <!--division-->
                    <!--comm2-->
                    <div class="col-sm-12 me">
                    	<div class="mate_user_img">
                        	<img src="images/user1.jpg">
                        </div>
                        <div class="admin_question">
                        	<h4>Me<span>Sep 2, 2015 2:30 pm</span></h4>
                        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit... Ad blanditiis perspiciatis praesentium quaerat repudiandae soluta? Cum doloribus esse et eum facilis impedit officiis omnis optio.</p>
                        </div>
                    </div>
                    <!--//comm2-->                    
                </div>            
                <div class="row">
               		<!--input-->
                    <div class="col-sm-12 input">
                    	<div class="alert alert-danger alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          Active hours are finished!
                        </div>
                    	<div class="option_bar">
                        	<a href="#" class="icon icon_pin"></a>
                        	<a href="#" class="icon icon_image"></a>
                            <a href="#" class="icon icon_mic"></a>
                            <a href="#" class="icon icon_link"></a>
                        </div>
                    	<textarea placeholder="SAY IT"></textarea>
                        <a href="#" class="icon icon_emoji"></a>                        
                    </div>
                    <!--//input-->
                </div>    
            </div>
            <!--//main-->
            <!--toolkit-->
            <div class="toolkit">
            	<div class="row toolkit_header">
                	<div class="col-sm-12">
                        <h3><span>My Toolkit</span></h3>
                    </div>
                </div>
                <!--calc-->
                <div class="calculator row mCustomScrollbar" data-mcs-theme="minimal-dark" id="accordian_calc">
                	<div class="col-sm-12 textarea">
                    	<span>23 + 12000 /1000 - 458 +</span>
                    	<h1>2500</h1>
                    </div>
                    <div class="calc_header">
                    	<a data-toggle="collapse" data-parent="#accordion_calc" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Scientific <span class="fa fa-angle-up"></span></a>
                    </div>
	                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="calc_btns">
                            <button class="btn">2<sup>nd</sup></button>
                            <button class="btn">x<sup>2</sup></button>
                            <button class="btn">x<sup>3</sup></button>
                            <button class="btn">x<sup>y</sup></button>
                            <button class="btn">e<sup>x</sup></button>
                            <button class="btn">1/x</button>
                            <button class="btn">2<sup>nd</sup></button>
                            <button class="btn">2<sup>nd</sup></button>
                            <button class="btn">2<sup>nd</sup></button>
                            <button class="btn">log<sub>10</sub></button>
                            <button class="btn">1</button>
                            <button class="btn">x</button>
                            <button class="btn">10<sup>x</sup></button>
                            <button class="btn">In</button>
                            <button class="btn">log</button>
                            <button class="btn">x!</button>
                            <button class="btn">sin</button>
                            <button class="btn">cos</button>
                            <button class="btn">tan</button>
                            <button class="btn">e</button>
                            <button class="btn">Rad</button>
                            <button class="btn">sinh</button>
                            <button class="btn">cosh</button>
                            <button class="btn">tanh</button>
                            <button class="btn">Rand</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="calc_header">
                    	<a>Basic</a>
                    </div>
                    <div class="calc_btns basic_btns">
                    	<button class="btn btn_blue">C</button>
                    	<button class="btn btn_red">+ _</button>
                    	<button class="btn btn_red">%</button>
                    	<button class="btn btn_green">+</button>
                    	<button class="btn btn_white">7</button>
                    	<button class="btn btn_white">8</button>
                    	<button class="btn btn_white">9</button>
                    	<button class="btn btn_green">-</button>
                    	<button class="btn btn_white">4</button>
                    	<button class="btn btn_white">5</button>
                    	<button class="btn btn_white">6</button>
                    	<button class="btn btn_green">x</button>
                    	<button class="btn btn_white">1</button>
                    	<button class="btn btn_white">2</button>
                    	<button class="btn btn_white">3</button>
                    	<button class="btn btn_green">/</button>
                    	<button class="btn btn_white btn_0">0</button>
                    	<button class="btn btn_white">.</button>
                    	<button class="btn btn_white">=</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--//calc-->
                <!--tabs-->
                <div class="toolkit_tabs">
                	<ul>
                    	<li class="active"><a href="#">Calculator</a></li>
                    	<li><a href="#">White board</a></li>
                    	<li><a href="#">Explore</a></li>
                    	<li><a href="#">Dictionary</a></li>
                    </ul>
                </div>
                <!--//tabs-->
            </div>
            <!--//toolkit-->
            <!--side right-->
            <div class="sidebar_right_container sidebar_right_container2 tut_right_bar mCustomScrollbar" data-mcs-theme="minimal-dark">
            	<div class="col-sm-12 time_chart">
                	<div class="box">
                    	<div class="box_body">
                        	<div class="item_chart css">
                            	
                                <h2>2:15<small>min</small><span>Remaining</span></h2>
                                <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                                 <g>
                                  <title>Layer 1</title>
                                  <circle id="circle" r="69.85699" cy="81" cx="81" stroke-width="15" stroke="#333" fill="none"/>
								  <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="15" stroke="#1bc4a3" fill="none"/>
                                 </g>
                                </svg>
                                <h4 class="group_score">Group Score : <span>5000</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                    	<div class="box_body">
                        	<h5>Active Comments : <span>45</span></h4>
                        </div>
                    </div>                    
                    <div class="box">
                    	<div class="box_body">
                        	<h5>My Score : <span>1200</span></h4>
                        </div>
                    </div>
                    <!--group-->
                    <div class="box tut_group">
                    	<div class="box_header">
                        	<h4>Tutorial Group</h4>
                        </div>
                        <!--user1-->
                        <div class="box_body">
                        	<div class="mate_user_img">
                                <img src="images/user1.jpg">
                            </div>
                            <h4>Adam Rose</h4>
                            <p>St. Xeviers</p>
                            <a href="#" class="icon icon_call_user_disable"></a>
                        </div>
                        <div class="box_footer">
                        	<p>Online</p>
                        </div>
                        <!--user2-->
                        <div class="box_body">
                        	<div class="mate_user_img">
                                <img src="images/user2.jpg">
                            </div>
                            <h4>Jey Shroff</h4>
                            <p>St. Mary</p>
                            <a href="#" class="icon icon_call_user"></a>
                        </div>
                        <div class="box_footer">
                        	<p>Last Seen : 3 hrs ago</p>
                        </div>
                        <!--user3-->
                        <div class="box_body">
                        	<div class="mate_user_img">
                                <img src="images/user3.jpg">
                            </div>
                            <h4>John Winchester</h4>
                            <p>St. Xeviers</p>
                            <a href="#" class="icon icon_call_user"></a>
                        </div>
                        <div class="box_footer">
                        	<p>Last Seen : 3 hrs ago</p>
                        </div>
                        <!--user4-->
                        <div class="box_body">
                        	<div class="mate_user_img typing">
                                <img src="images/user4.jpg">
                            </div>
                            <h4>Ron Stranger</h4>
                            <p>SD Jain School</p>
                            <a href="#" class="icon icon_call_user_disable"></a>
                        </div>
                        <div class="box_footer">
                        	<p>Typing...</p>
                        </div>
                        <!--user5-->
                        <div class="box_body">
                        	<div class="mate_user_img">
                                <img src="images/user5.jpg">
                            </div>
                            <h4>Adam Rose</h4>
                            <p>St. Xeviers</p>
                            <a href="#" class="icon icon_call_user_disable"></a>
                        </div>
                        <div class="box_footer">
                        	<p>Online</p>
                        </div>
                    </div>
                    <!--//group--> 
                </div>
            </div>
            <!--//side right-->
        </div>
    </div>
    <!--//body-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script> 
    <!--scroll-->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script><br>

	<script type="text/javascript">
   		jQuery(document).ready(function() {
            if(jQuery('.calc_header a').hasClass('collapsed')){
				jQuery('.calc_header span').removeClass('fa-angle-up');	
				jQuery('.calc_header span').addClass('fa-angle-down');							
			}
			else{
				jQuery('.calc_header span').addClass('fa-angle-up');
				jQuery('.calc_header span').removeClass('fa-angle-down');	
			};
        });
		
   	</script>
</body>
</html>
