@charset "utf-8";
/* CSS Document */
@media (max-width:1920px){
	.add_question_wrapper .select .form-control {
		/*width: 77%;*/
	}
}
@media (max-width:1600px){
	.add_question_wrapper .select .form-control {
		/*width: 72%;*/
	}
}
@media (max-width:1366px){
	.box_body .age{
		width: 26.5%;
	}
	/*.three_tabs > li {
		padding: 10px;
	}*/
	.inner_pages_admin .three_tabs > li {
    	padding: 10px 29px;
	}
	.filter .form-group{
		width: 18.7%;
	}
	.inner_pages_admin .personal_menu > li > a{
		font-size: 14px;
	}
	.exam_year > p > span, .exam_type > p:last-child, .exam_cat > p:last-child{
		font-size:15px;
	}
	.add_exam{
		height:215px;
	}
	.fixed_comment{
		width: 46.8%;
	}
	/*change*/
	/*.input{
		width:100%;	
	}*/
	.admin_question {
    	width: 84%;
	}
	.item_chart:after, .item_chart:before{
		left:8px;
	}
	.calculator, .white_board, .explore, .dictionary{
		width:81%;
	}
	.board_tools > li{
		padding: 5px 4.6%;
	}
	.search_bar .form-control{
		width:70%;
	}
	.commented_on .user_small_img {
    	height: auto;
    	width: 10%
	}
	.question_bank .filter .form-group {
		width: 26%;
	}
	.question_bank .preview_filter .form-group {
    	width: 100%;
	}
	.test_sidebar .btn_black{
		width:100%;
	}
	.ques_numbers li {
		margin: 0 5px 6px 0;
	}
	.test_finished svg {
		-o-transform: rotate(-90deg) scale(0.8) translateY(-16px);
		-moz-transform: rotate(-90deg) scale(0.8) translateY(-16px);
		-ms-transform: rotate(-90deg) scale(0.8) translateY(-16px);
		-webkit-transform: rotate(-90deg) scale(0.8) translateY(-16px);
    	transform: rotate(-90deg) scale(0.8) translateY(-16px);
	}
	.test_finished .item_chart:before, .test_finished .item_chart:after{
		
		top:3px;
	}
	.add_question_wrapper .select .form-control {
		/*width: 67%;*/
	}
	.tag_container{
		width:79%;
	}
	.general_cred #replacing_div3 input.form-control {
		width: 89%;
	}
	.bootstrap-switch{
		width:200px !important;
	}
	.bootstrap-switch .bootstrap-switch-label{
		width:75px !important;
	}
	.range_picker{
		/*width:31%;*/
		width:65%;
	}
	.filter.report_filter .form-group {
		width: 15.8%;
	}
	.filter.group_report_filter .form-group.data_range {
	    width: 40%;
	}
	.stm .box_header{
		padding: 16px 15px;
	}
	.suggested_mates_holder .btn_blue{
		font-size:12px;
		padding:6px;
	}
	.mate_descrip .btn_green, .mate_descrip .btn_black_normal{
		font-size: 12px;
		padding: 3px;
	}
	.form-inline .form-control{
		width:100%;
	}
	.bulk_action {
    	right: 0;
	}
	.half_size .form-control{
		width:88%;
	}
	#wPaint{
		width:252px !important;
	}
	
}
@media (max-width:1280px){
	.login_background{
		background-size:auto;
	}
	.box_body .age {
    	width: 26%;
	}
	.inner_pages .user_profile_img{
		margin: -15px 7px 15px 0;
	}
	.navbar_admin .navbar-brand{
		padding: 15px 25px 15px 20px;
	}
	.inner_pages_admin .three_tabs > li {
    	padding: 10px 25px;
	}
	.filter .form-group {
    	width: 18.5%;
	}
	.icon_notice{
		float:left;
	}
	.sidebar_left_container .logout{
		bottom:42px;
	}
	.table_user .squaredThree label{
		left:20px;
	}
	#carousel-noticeboard{
		width:315px;
	}
	/*.carousel-caption {
    	font-size: 18px;
	}*/
	.stm_list {
    	max-height: 422px;
	}
	.mate_descrip .btn_green{
		padding: 3px 9px;
	}
	.suggested_mates_card{
		 padding: 22px 16px;
	}
	
	.stm_item .stm_user_img{
		height:40px;
		width:40px;
		margin-right:5px;
	}
	.stm_item.online p, .stm_item.offline p{
		margin:10px 0;
	}
	
	.sidebar_right_admin .stm .box_header {
    	padding: 7px 15px;
	}
	.inner_pages_admin .personal_menu > li > a {
    	font-size: 12px;
	}
	.sidebar_right_container2 .stm{
		border-bottom: 1px solid #ddd;
    	border-left: medium none;
	}
	.welcome_bg{
		background-size:auto;
	}
	.exam_year .icon_option_dark {
    	margin-left: 3px;
	}
	.add_exam{
		height:211px;
	}
	.table_group>thead>tr>th:first-child {
    	width: 38px;
	}
	.navbar-default .navbar-nav > li > a{
		padding:15px;
	}
	.topic_action{
		width:8%;
	}
	.topic_content{
		width: 92%;
	}
	.admin_question{
		width:82%;
	}
	.calculator, .white_board, .explore, .dictionary{
		width:80%;
	}
	.calc_btns .btn{
		width: 19.6%;
	}
	.basic_btns .btn {
    	width: 24.6%;
	}
	.basic_btns .btn_0 {
    	width: 49.6%;
	}
	.fixed_comment {
    	width: 46.8%;
	}
	.item_chart:after, .item_chart:before{
		left:4px;
	}
	.toolkit_tabs {
	    width: 55px;
	}
	.board_tools > li{
		padding: 5px 3.9%;
	}
	.tut_week_heading p {
    	left: -17px;
	}
	.general_cred input.form-control{
		width:94%;
	}
	.three_inputs .form-control{
		width: 81%;
	}
	.three_inputs{
		width:32%;
	}
	.sidebar_right_admin .score_rank{
		margin-left:30%;	
	}
	.stm_user_img .message_badge {
    	left: 34px;
	}
	.sidebar_shrink .logout {
    	bottom: 0 !important;
	}
	.ques_numbers li {
    	margin: 0px 15px 15px 0;
	}
	.add_question_wrapper .select .form-control {
		/*width: 64%;*/
	}
	.general_cred #replacing_div3 input.form-control {
    	width: 88%;
	}
	.tag_container {
		width: 77%;
	}
	.bootstrap-switch{
		width:180px !important;
	}
	.bootstrap-switch .bootstrap-switch-label{
		width:78px !important;
	}
	.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off{
		width:100px !important;
	}
	.score_descrip {
		width: 75%;
	}
	.phase_2 h2::after, .phase_2 h2::before{
		width:200px;
	}
	.range_picker {
    	width: 63%;
	}
	.filter.report_filter .form-group {
		width: 15.7%;
	}
	
	.score_points {
		padding-left: 25%;
		width: 100%;
	}
	#wPaint {
    	width: 230px !important;
	}
	.test_sidebar{
		width:25%;
	}
	.main_wide_2{
		width:75%;
	}
}	
@media (max-width:1152px){
	.three_tabs > li{
		width:48%;
	}
	#carousel-noticeboard {
    	width: 290px;
	}
	.stm .box_header {
    	padding: 16px 7px;
	}
	.personal_menu {
    	padding-bottom: 170px;
	}
	.admin_question {
    	width: 81%;
	}
	.calculator, .white_board, .explore, .dictionary {
 	   width: 79%;
	}
	#wPaint {
    	width: 208px !important;
	}
	.tut_group .box_body p, .tut_group .box_footer p{
		margin:0;
	}
	#circle_process {
		-o-transform: translateX(-12px);
		-ms-transform: translateX(-12px);
		-moz-transform: translateX(-12px);
		-webkit-transform: translateX(-12px);
		transform: translateX(-12px);
	}
	.item_chart:after, .item_chart:before {
    	left: -14px;
	}
	.item_red:before, .item_green:before{
		right: -50px;
	}
	.item_blue:before, .item_purple:before{
		left: -50px;
	}
	.navbar-default .navbar-nav > li > a {
    	padding: 15px 9px;
	}
	.change_dp {
		position: relative;
		margin-bottom: 60px;
	}
	
}
@media (max-width:1080px){
	.chat_container {right: 22%;}
	.login_background {
		background-size:auto;
	}
	.welcome_bg{
		background-size:auto;
	}
	.user_profile_img{
		height:90px;
		width:90px;
	}	
	/*.three_tabs > li{
		padding: 10px 5px;
	}*/
	.tut_group .box_body p, .tut_group .box_footer p {
		margin: 0 0 0 80px;
	}
	.personal_menu {
    	padding-bottom: 166px;
	}
	.personal_menu > li > a{
		font-size:12px;
	}
	.three_tabs .dropdown-menu{
	    min-width: 130px;		
		width:inherit;
	}
	#carousel-noticeboard{
		width:240px;
	}
	/*.carousel-caption {
	    font-size: 15px;
		bottom: 0;
	}*/
	.suggested_mates{
		display:none;
	}
	.stm{
		width:100%;
	}
	.btn_find_studymates {
		display:block;
	}
	.score_img{width:30%;}
	.score_descrip{width:70%;}
	.score_points {
		padding-left: 36%;
		
	}
	.stm_list {
    	max-height: 305px;
	}
	.member_info {
    	padding: 30px 20px;
	}
	.inner_pages .user_profile_img {
   		float: none;
    	margin: 75px auto 0;
	}
	.inner_pages.sidebar_left_container{
		text-align:center;
	}
	.inner_pages.sidebar_left_container h4 {
    	margin: 10px 0 5px;
	}
	.three_tabs{
		margin-top:25px;
	}
	.main2{
		width: 64%;
	}
	.sidebar_right_container2{
		width:22%;
	}
	.navbar_admin .navbar-nav .icon{
		display:none;
	}
	.navbar_admin .navbar-right .icon{
		display:block;
	}
	.navbar_admin .navbar-nav > li > a{
		padding:20px 16px;
	}
	.navbar_admin .navbar-right > li > a{
		padding:15px 16px;
	}
	.inner_pages_admin .three_tabs > li {
   		padding: 10px 17px;
	}
	.filter .form-group {
    	margin-bottom: 15px;
    	width: 31.7%;
	}
	.filter .form-group:nth-child(3n){
		margin-right:0;
	}
	.filter {
    	padding: 15px 0;
	}
	.personal_menu .icon{
		display:none;
	}
	
	.stm .box_header {
    	padding: 7px 15px;
	}
	.table_user>thead>tr>th:first-child{
		 width: 40px;
	}
	.icon_timeline, .icon_books, .icon_performance, .icon_blockuser, .icon_mail, .icon_chat {
    	margin-right: 12px;
	}
	.username .chat_img_holder {
    	float: none;
	}
	
	.group_members>tbody>tr>td{
		vertical-align:top;
	}
	.table_group > thead > tr > th:first-child{
		width:50px;
	}
	.tut_week_heading p {
    	left: -15px;
		top:370px;
	}
	.main_tut{
		width:40%;
	}
	/*.input{
		width:39.9%;
	}*/
	.toolkit{
		right: 21%;
    	width: 25%;
	}
	.calculator, .white_board, .explore, .dictionary {
    	width: 78%;
	}
	.toolkit_tabs ul > li{
		z-index:5;
	}
	.calc_btns .btn {
    	width: 19.2%;
		padding:3px;
		height:40px;
	}
	.basic_btns .btn {
    	height: 50px;
    	width: 24.2%;
	}
	.admin_question {
    	width: 72%;
	}
	.item_chart::after, .item_chart::before {
    	left: 10px;
	}
	.alert_notification{
		z-index:6;
	}
	.board_tools > li {
    	padding: 5px 2.4%;
	}
	.pen_size{
		width:50px;
	}
	.toolkit_tabs{
		height:100vh;
		overflow:auto;
	}
	.general_cred input.form-control {
    	width: 91%;
	}
	.three_inputs .form-control {
    	width: 72%;
	}
	.three_inputs {
    	width: 31.5%;
	}
	.sidebar_shrink, .sidebar_shrink .logout{
		width:7%;
	}
	/*.main_wide {
    	margin-left: 7%;
    	width: 93%;
	}*/
	.main_wide {
    	margin-left: 14%;
    	width: 86%;
	}
	.main_wide .filter .form-group{
		width:32.1%;
	}
	.recommended h4 > span {
		display: block;
		float: none;
		margin-top: 10px;
	}
	.studymate_recom .mate_user_img{
		height:64px;
		width:64px;
	}
	.studymate_recom .mate_descrip p{
		display:none;
	}
	.studymate_recom .mate_descrip p:first-child, .studymate_recom .mate_descrip p:nth-last-child(2){
		display:block;
	}
	.fixed_comment {
    	width: 39.8%;
	}
	.search_bar .form-control {
    	width: 58%;
	}
	.btn_switch{
		padding-right: 15px !important;
	}
	.allocated_teachers .stm_item p:last-child{
		position:relative;
		left:19%;
		bottom:auto;
	}
	.group_perf_member .username .chat_img_holder {
    	float: left;
	}
	.main_wide .question_bank .filter .form-group {
	    width: 30%;
	}
	.main_wide_2{
		width:66%;
	}
	.test_sidebar{
		width:34%;
	}
	.test_finished svg {
    	-o-transform: rotate(-90deg) scale(1) translateY(0);
		-ms-transform: rotate(-90deg) scale(1) translateY(0);
		-moz-transform: rotate(-90deg) scale(1) translateY(0);
		-webkit-transform: rotate(-90deg) scale(1) translateY(0);
		transform: rotate(-90deg) scale(1) translateY(0);
	}
	.test_finished .item_chart:before, .test_finished .item_chart:after{
		height:134px;
		width:134px;
		top:3px;
		left:13px;
	}
	.ques_numbers li {
    	margin: 0 15px 15px 0;
	}
	.page_header fieldset{
		padding:5px;
	}
	.add_question_wrapper .icon {
		margin: 0 0 10px 5px;
	}
	.add_question_wrapper .select .form-control {
		/*margin-left: 5px;
		width: 56%;*/
	}
	.add_question_wrapper + .box_footer .btn{
		float:none !important;
		display:block;
		width:100%;
		margin-top:5px;
	}
	.general_cred #replacing_div3 input.form-control {
    	width: 84%;
	}
	.tag_container {
		width: 70%;
	}
	.bootstrap-switch {
    	width: 178px !important;
	}
	.sidebar_right_admin .score_rank {
    	margin-left: 0;
	}
	.phase_2 h2::after, .phase_2 h2::before{
		width:100px;
	}
	.phase_2 h2::after{
		margin-left:15px;
	}
	.phase_2 h2::before{
		margin-right:15px;
	}
	.basic_info {
    	margin-left: 105px;
	}
	.filter.report_filter .form-group {
		width: 31%;
	}
	.range_picker {
		/*width: 47%;
		margin-bottom:15px;*/
		width:100%;
		margin-bottom:0;
		margin-left:0;
	}
	.range_picker:last-child{
    	/*margin-left: 95px;		*/
	}
	.filter.report_filter .form-group.data_range {
    	margin-bottom: 0;
    }
	.group_member_report > div:nth-child(even) {
    	padding: 15px 0 0 0;
	}
	.group_member_report > div:nth-child(odd) {
    	padding: 15px 15px 0 0;
	}
	.group_report_filter .range_picker:last-child {
    	margin-left:10px;
	}
	.filter.group_report_filter .form-group.data_range {
    	width: 50%;
	}
	.group_report_filter .range_picker {
		margin-bottom: 0;
		width: 30%;
	}
	.group_mates .stm_item .stm_user_img{
		float:none;
	}
	.group_mates .stm_item.online p::after, .group_mates .stm_item.offline p::after{
		top:-25px;
	}
	.mark_scored h4 {
    	margin: 44px 0;
	}
	.preview_filter{
		padding:0;
	}
	.main_wide .question_bank .preview_filter .form-group {
    	width: 100% !important;
	}
	.question_bank_sr .filter .form-group {
    	width: 22%;
		margin-right:15px;
	}
	.bulk_action {
    	padding: 0;
    }
	.topic_groups .group_members>tbody>tr>td>.chat_img_holder{
		float:left;	
	}
	.half_size .form-control {
    	width: 83%;
	}
	#wPaint {
    	width: 188px !important;
	}
	.change_dp .user_profile_img{
		height:145px;
		width:145px;
	}
}
@media (max-width:1024px){
	img#blah_after{height: 162px;width:180px;}
	.exams_holder li .result { right: 35px;}
	ul.exams_holder li a {font-size: 12px;}
	.stm_item.online p, .stm_item.offline p {font-size: 12px;}
	
}
@media (max-width:980px){
	.login_background {
		background-image:url(../images/login_bg_tab.jpg);
	}
	.welcome_bg{
		background-image:url(../images/welcome_bg_tab.jpg);
	}
	.login_board{
		margin: 120px auto 20px;
	}
	.box_body .small_input{
		width:31.95%;
	}
	.reg_bg{
		background-size: contain;
	}
	.navbar-brand{
		padding:15px;
	}
	.navbar-default .navbar-nav > li > a{
		padding:15px 10px;
	}
	.navbar-right > li > a {
    	padding: 15px 10px;
	}
	.three_tabs > li {
		border-right: medium none;
		display: block;
		border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	}
	.three_tabs .badge{
	 	right: 20px;
	}	
	#carousel-noticeboard {
    	width: 260px;
	}
	#carousel-noticeboard .carousel-control.left,	
	#carousel-noticeboard .carousel-control.right {
    	display:none;
	}
	.score_descrip p{
		display:block;
	}
	.score_descrip .score_name{
		display:block;
	}
	.member{
		min-height: 220px;
	}
	.navbar_admin .navbar-nav > li > a {
    	padding: 20px 12px;
	}
	.navbar_admin .navbar-right > li > a {
    	padding: 15px 16px;
	}
	.filter .form-group {
    	width: 31.6%;
	}
	.inner_pages_admin .three_tabs > li{
		padding:10px 16px;
		display:inline-block;
		border-bottom:none;
	}
	.inner_pages_admin .three_tabs > li:first-child{
		border-right: 1px solid rgba(255,255,255,0.2);
	}
	.sidebar_right_admin .score_number{
		display:block;
	}
	.sidebar_right_admin .score_rank {
    	margin-left: 0;
	}
	.add_exam a{
		margin-top:12%;
	}
	.table_group > thead > tr > th:first-child{
		width:60px;
	}
	.three_inputs {
    	width: 100%;
	}
	.three_inputs .form-control {
    	width: 91%;
	}
	.padding_r15_, .btn_switch {
		padding: 0 !important;
	}
	.box_body .padding_r15_.select::after {
    	right: 15px;
	}	
	.main_wide .question_bank .filter .form-group {
	    width: 29.7%;
	}
	.preview .question_wrapper .notice_action a {
    	margin: 10px 3px;
	}
	.test_finished .item_chart:before, .test_finished .item_chart:after{
		left:6px;
	}
	.add_question_wrapper .select .form-control {
		/*width: 54%;*/
	}
	.tag_container {
		margin: 0;
		width: 100%;
	}
	.evaluation > .col-md-6:first-child {
    	padding-right: 15px;
	}
	.evaluation > .col-md-6:last-child {
		padding-left: 15px;
	}
	.answers > .col-md-6:first-child {
	    padding-right: 15px;
	}
	.answers > .col-md-6:last-child {
		padding-left: 15px;
	}
	.group_member_report > div:nth-child(even),
	.group_member_report > div:nth-child(odd) {
    	padding: 15px 0 0 0;
	}
	.three_tabs > li {
    	width: 100%;
	}
	.score_points {
		float: left;
		padding-left: 10px;
		width: 25%;
	}
	.calculator, .white_board, .explore, .dictionary {
    	width: 77.5%;
	}
	.mark_scored h4 {
    	margin: 32px 0;
	}
	.mark_scored {
    	border-top:1px solid rgba(0,0,0,0.07);
	}
	.half_size .form-control {
    	width: 91%;
	}
	.tut_week_heading p {
    	left: -17px;
    	top: 460px;
	}
	.item_red:before, .item_green:before{
		left: -70px;
		right:auto;
	}
	.item_blue:before, .item_purple:before{
		right: -70px;
		left:auto;
	}
}

@media (max-width:800px){
	img#blah_after{height: 162px;width:200px;}
	.login_background {
		background-size:auto;
	}
	.box_body .age {
    	width: 25%;
	}
	.box_body .small_input {
    	width: 31.55%;
	}
	.avatar, .avatar img{
		width:100%;
	}
	div.upload, div.upload input{
		font-size: 12px;
		width:100%;
	}
	#carousel-noticeboard {
    	width: 200px;
	}
	.personal_menu li{
		 padding: 15px 10px;
	}
	.sidebar_left_container .logout{
		padding: 10px 2px 8px;
	}
	.logout .icon_logout{
		margin-right:2px;
	}
	/*.carousel-caption {
    	bottom: -26px;
	}*/
	.score_descrip {
    	padding: 0;
    	width: 100%;
	}
	.score_points {
    	padding-left:0;
		width:100%;
	}
	.score_img {
    	width: 40%;
		float: none;
	    margin: 0 auto;
	}
	.score_item{
		text-align:center;
		
	}
	.stm_item .stm_user_img{
		width:35px;
		height:35px;
		margin-right: 5px;
	}
	.stm_item.online p, .stm_item.offline p{
		margin: 7px 0;
	}
	.navbar-default.navbar_admin .navbar-nav > li > a {
    	font-size: 12px;
    	padding: 20px 7px;
	}
	.navbar-default.navbar_admin .navbar-right > li > a{
		border:none;
		padding: 15px 5px;
	}
	.filter .form-group {
    	width: 31.2%;
	}
	.inner_pages_admin .three_tabs > li{
		padding: 10px 8px;
	}
	.inner_pages_admin .three_tabs .badge {
    	right: 15px;
	}
	.table_user > thead > tr > th:first-child {
    	width: 235px;
	}
	.sidebar_right_admin .score_rank {
    	margin-left: 32%;
		width:34%;
	}
	.table_group > thead > tr > th:first-child{
		width:10%;
	}
	.topic_content>div{
		text-align:left;
	}
	.topic_action{
		width:12%;
	}
	.topic_content{
		width: 88%;
	}
	.topic_content .btn-group {
		float: none;
		margin-top: 10px;
	}
	.general_cred input.form-control , .three_inputs .form-control{
    	width: 88%;
	}
	.main_wide .filter .form-group {
    	width: 31.9%;
	}
	.study_mate .mate_user_img{
		margin: 0 15px 15px 0;
	}
	.search_bar .form-control {
    	width: 46%;
	}
	.allocated_topics .exam_type, .allocated_topics .exam_cat{
		width:100%;
		float:none;
	}
	.allocated_topics .exam_type{
		border:none;
		padding-bottom:5px;
		margin-bottom:5px;
		border-bottom:1px solid rgba(0,0,0,0.1);
	}
	.question_wrapper .q_info{
		float:none !important;
	}
	.test_finished svg {
    	-o-transform: rotate(-90deg) scale(0.8) translateY(-16px);
		-ms-transform: rotate(-90deg) scale(0.8) translateY(-16px);
		-moz-transform: rotate(-90deg) scale(0.8) translateY(-16px);
		-webkit-transform: rotate(-90deg) scale(0.8) translateY(-16px);
		transform: rotate(-90deg) scale(0.8) translateY(-16px);
	}
	.test_finished .item_chart:before, .test_finished .item_chart:after{
		height:108px;
		width:108px;
		top:16px;
		left:3px;
	}
	.ques_numbers li {
    	margin: 0 5px 5px 0;
	}
	.add_question_wrapper .icon {
		margin: 0 0 10px -5px;
	}
	.add_question_wrapper .select .form-control {
		/*margin-left: 0;
		width: 100%;*/
	}
	.general_cred .box_body.add_question_wrapper .select:after{
		top:35px;
	}
	.upload_ques_img{
		height:180px;
	}
	.box_body.add_question_wrapper .inner_txtarea textarea.form-control{
		height:100px;
	}
	.general_cred #replacing_div3 input.form-control {
    	width: 79%;
	}
	.phase_2 p{
		width:auto;
	}
	.phase_2 h2:after, .phase_2 h2:before{
		width:30px;
	}
	.basic_info {
    	margin: 100px 0 0;
	}
	.filter.report_filter .form-group {
    	width: 31%;
	}
	.data_range label {
		font-size: 12px;
		font-weight: normal;
	}
	.range_picker {
		/*width: 42%;*/
	}
	.range_picker:last-child {
		/*margin-left: 80px;*/
	}
	.topic_content .label{
		padding:6px;
		font-size:13px;
	}
	.admin_question {
    	width: 100%;
	}
	.discussion {
		/*margin-top: 300px;*/
	}
	.calculator, .white_board, .explore, .dictionary {
    	width: 72%;
	}
	.tut_group .box_body p, .tut_group .box_footer p {
    	margin: 0;
	}
	.tut_group .mate_user_img{
		float:none;
		margin:0;
	}
	.btn_find_studymates{
		padding:6px;
		font-size:14px;
	}
	.studymate_request .btn_green, .studymate_request .btn_black_normal{
		padding:5px;
	}
	.bulk_action {
    	width: 152px;
	}
	.half_size .form-control {
    	width: 88%;
	}
	
	#circle_process {
		-o-transform: translateX(-16px);
		-ms-transform: translateX(-16px);
		-moz-transform: translateX(-16px);
		-webkit-transform: translateX(-16px);
		transform: translateX(-16px);
	}
	.item_chart::after, .item_chart::before {
    	left: -12px;
	}
	.item_red:before, .item_green:before, .item_blue:before, .item_purple:before{
		content:none;
	}
}
@media (max-width:768px){
	.score_div {border-right: 1px solid rgba(0, 0, 0, 0.1);}
	.item_chart h2 {font-size: 26px;}
	.btn_post {padding: 9px 45px;}
	.score_item {
	  min-height: 170px;
	 }
	 
	 .studymate_recom .carousel .item .suggested_mates_card{
	 	width: 50%;
	 }
	 .studymate_recom .carousel .item .suggested_mates_card:nth-child(2n){
	 	border: none;
	 }
	.login_background {
		background-size:100%;
	}
	.box_body .age {
    	width: 24.5%;
	}
	.box_body .small_input {
    	width: 31.5%;
	}
	.personal_menu li {
    	padding: 15px 8px;
	}
	.navbar-default .navbar-nav > li > a > span{
		display:none;
	}
	.navbar-default .navbar-nav > li > a {
    	padding: 20px 18px;
	}
	.navbar-brand {
    	padding: 15px 45px 15px 15px;
	}
	textarea.post_input{
		height:60px;
	}
	.btn_post{
		padding: 9px 30px;
	}
	.filter .form-group {
    	width: 31%;
	}
	.main_wide .filter .form-group {
    	width: 31.7%;
	}
	.question_bank .box_footer{
		padding:7px;
	}
	.ques_numbers li {
    	margin: 0 2px 2px 0;
	}
	.general_cred #replacing_div3 input.form-control {
    	width: 78%;
	}
	.calculator, .white_board, .explore, .dictionary {
    	width: 71%;
	}
	#circle_process{
		-o-transform: scale(0.9) translateX(-20px);
		-ms-transform: scale(0.9) translateX(-20px);
		-moz-transform: scale(0.9) translateX(-20px);
		-webkit-transform: scale(0.9) translateX(-20px);
		transform: scale(0.9) translateX(-20px);
	}
	.item_chart::after, .item_chart::before {
		left: -10px;
		top: 10px;
		height:140px;
		width:140px;
	}
	img#blah_after{height: 162px;width:175px;}
	.discussion{ height: 865px;}
}
@media (max-width:767px){
	.login_background {
		background-size:auto;
	}
	.login_board{
		margin: 20px auto;
    	width: 90%;
	}
	.login_board .col-sm-12 {
    	padding: 30px 20px 20px;
	}
	.logo{
		width:115px;
		height:auto;
	}
	.login_form {
    	padding: 40px 0 0;
	}
	.login_links {
    	font-size: 12px;
	}
	.box_body .age {
    	width: 24%;
	}
	.box_body .small_input {
    	margin-right: 0;
    	width: 100%;
	}
	.avatar, .avatar img {
    	width: auto;
	}
	div.upload{
		margin-top:10px;
		margin-bottom:20px;
	}
	div.upload, div.upload input{
		width: 208px;
	}
	.reg_header{
		text-align:center;
	}
	.reg_btns .btn:first-child {
    	margin-bottom: 15px;
		margin-right:0;
	}
	.welcome_content{
		margin-top: 40px;
	}
	.welcome_content img{
		height:100px;
		width:auto;
	}
	.para_welcome1{
		font-size:18px;
	}
	.loader::after, .loader::before{
		width: 100px;
	}
	.para_welcome2{
		font-size: 16px;
	}
	
}
@media (max-width:414px) {
	.login_background {
    	background-size: 140% auto;
	}
	.login_board {
    	margin: 90px auto 20px;
	}
}
@media (max-width:375px){
	.box_body .dob{
		width:69%;
	}
}
@media (max-width:320px){
	.login_board {
    	margin: 20px auto;
	}
	h3 {
    	font-size: 16px;
	}
	.box_body .dob, .box_body .age {
    	width: 100%;
	}
}
/*@media (max-height:600px){
	.discussion{
		padding-bottom: 100px;
		height: 40vh;
		margin-top: 32%;
	}
}*/